body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
ul {
  list-style-type: none;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;
  color: #333;
}

:global #root {
  height: 100%;
}

.wrapper {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left: 0;
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
  overflow: hidden;
}

.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF;
  top: 0;
  left: 0;
  opacity: .9;
  z-index: 1;
}
.layerHide {
  composes: layer;
  display: none;
}

.move {
  transform: translateY(-55px);
  background: #FFF;
  height: 100%;
}

:global .transition {
  transition: transform .3s ease-in-out;
}
